{% extends 'baseadmin.html' %}

{% block content %} 
{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">u_id</th>
        <th scope="col">show_id</th>
        <th scope="col">show_name</th>
        <th scope="col">venue_id</th>
        <th scope="col">venue_name</th>
        <th scope="col">Average Rating</th>
      </tr>
    </thead>
    <tbody>
      {% for show in user_bookings %}
      <tr>
        <td>{{ show.u_id }}</td>
        <td>{{ show.show_id }}</td>
        <td>{{ forShow[user_bookings.index(show)].name }}</td>
        <td>{{ show.venue_id }}</td>
        <td>{{ forVenue[user_bookings.index(show)].name }}</td>
        <td>{{ show.rating }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}