{% extends 'baseadmin.html' %}

{% block content %} 
<body style="background: black;">
{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
</br></br>
  <table class="table table-bordered border-primary">
    <thead>
      <tr style="color: gold; text-transform: uppercase;">
        <th scope="col">user id</th>
        <th scope="col">show id</th>
        <th scope="col">show name</th>
        <th scope="col">venue id</th>
        <th scope="col">venue name</th>
        <th scope="col">Average Rating</th>
      </tr>
    </thead>
    <tbody>
      {% for show in user_bookings %}
      <tr style="color: gold; text-transform: uppercase;">
        <td>{{ show.u_id }}</td>
        <td>{{ show.show_id }}</td>
        <td>{{ forShow[user_bookings.index(show)].name }}</td>
        <td>{{ show.venue_id }}</td>
        <td>{{ forVenue[user_bookings.index(show)].name }}</td>
        <td>{{ show.rating }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}