{% extends 'baseadmin.html' %}

{% block content %}


<center>Admin|Login</center>
{% for message in get_flashed_messages() %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}    
{% if name %}
    hello {{ name }}
{% else %}
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.admin_username.label(class="form-label") }}
        {{ form.admin_username(class="form-control")}}<!-- String input field name-->
     </br></br>
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control")}}
    </br></br>
        {{ form.submit(class="btn btn-dark") }}<!-- Submit button -->
     </form>
</div>
{% endif %}  

{% endblock %}