{% extends 'baseadmin.html' %}

{% block content %} 
{% if name %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Place</th>
        <th scope="col">Location</th>
        <th scope="col">Capacity</th> 
        <th scope="col">Date Added</th> 
      </tr>
    </thead>
    <tbody>
      {% for venue in venues %}
      <tr>
        <td>{{ venue.id }}</td>
        <td>{{ venue.name }}</td>
        <td>{{ venue.place }}</td>
        <td>{{ venue.location }}</td>
        <td>{{ venue.Capacity }}</td>
        <td>{{ venue.date_added }}</td>
        <td><a href="{{ url_for('updatevenue',id=venue.id) }}"><button type="button" class="btn btn-info">Edit</button></a></td>
        <td><a href="{{ url_for('deletevenue',id=venue.id) }}"><button type="button" class="btn btn-danger">Delete</button></a></td>
      </tr> 
      {% endfor %}
    </tbody>
  </table>
 
{% else %}
  <h1>Update venue:</h1>
<!-- <div class="card" style="text-align: center; width: 400px;">
  <div class="card-body">
  <div class="shadow p-3 mb-5 bg-body rounded"> -->
    <!-- <form action="{{ url_for('updatevenue',id=venue_to_update.id) }}" method="POST"> -->
    <form action="{{ url_for('updatevenue',id=venue_to_update.id) }}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control", value=venue_to_update.name)}}<!-- String input field name-->
      </br></br>
        {{ form.place.label(class="form-label") }}
        {{ form.place(class="form-control",value=venue_to_update.place)}}<!-- String input field name-->
      </br></br>
        {{ form.location.label(class="form-label") }}
        {{ form.location(class="form-control",value=venue_to_update.location)}}<!-- String input field name-->
      </br></br>
        {{ form.capacity.label(class="form-label") }}
        {{ form.capacity(class="form-control", value=venue_to_update.Capacity)}}<!-- String input field name-->
      </br></br>
      {{ form.submit(class="btn btn-dark") }}
      </br>
</form>
  <!-- </div>
</div> -->
{% endif %}
{% endblock %}