{% extends 'baseuser.html' %}

{% block content %} 
{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
<body style="background: black">  
  <table class="table table-bordered border-primary">
    <thead>
      <tr style="text-transform: uppercase;">
        <th scope="col" style="color: gold;">SHOW ID</th>
        <th scope="col" style="color: gold;">show name</th>
        <th scope="col" style="color: gold;" >ratings</th>
        <th scope="col" style="color: gold;" >Rate!</th>
      </tr>
    </thead>
    <tbody>
      {% for h in history %}
      <tr style="text-transform: uppercase;">  
        <td  style="color: gold;">{{ h.show_id }}</td>
        <td  style="color: gold;" >
        {% for show in shows %}
          {% if show.id == h.show_id %}
            {{ show.name }}
          {% endif %}
        {% endfor %}
        </td>
        <td  style="color: gold;text-transform: uppercase;">{{ h.user_rating }}</td>
        <td><a href="{{ url_for('rating',u_id=h.u_id,show_id=h.show_id,venue_id=h.venue_id) }}"><button type="button" class="btn btn-info">Ratings</button></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
 </body>
{% endblock %}