{% extends 'baseadmin.html' %}

{% block content %} 
{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
<link href="{{ url_for('static', filename='css/viewVenues_style.css') }}" rel="stylesheet" type="text/css">

<!-- <div class="virtical-center" style="height: 80px;">
<div class="media-scroller snaps-inline" > -->
  <div class="card" style="width: 1000px;flex-wrap: wrap;">
     <div class="card-body">
       <div class="overflow-y: scroll;"> 
      <ul class="list-group list-group-flush">  
  {% for venue in venues %}
  
  <div class="d-flex" style="flex-wrap: wrap; display: flex;">
     <div class="card-body" style="width: 10px">
      <!-- <div class="overflow-y: scroll;"> -->
      <!-- <ul class="list-group list-group-flush">   -->
         <h5 class="card-title">Venue: {{ venue.name }}</h5><!-- 
        <li class="list-group-item">Venue: {{ venue.name }}</li> -->
        </div>
        {% for show in shows %}
            {% if show.venue_id == venue.id %}
            <div class='d-flex bg-secondary'>
             <div class="card" style="width: 18rem;\;">
                <div class="card-body">
              <ul class="list-group list-group-flush">
              <li class="list-group-item">Show name: {{ show.name }}</li>
              <li class="list-group-item">Show Timing: {{ show.show_timing }}</li>
              <li class="list-group-item">Show Capacity: {{ show.available_seats }}</li>
              </ul>
              <div class="card-body">
    <a href="{{ url_for('updateshow',id=show.id) }}"><button type="button" class="btn btn-info">Edit</button></a>
    
        <a href="#"><button type="button" class="btn btn-success"></button></a>
        <a href="{{ url_for('deleteshow',id=show.id) }}"><button type="button" class="btn btn-danger">Delete</button></a>
  </div>

          </div>
      </div>
  </div>
            {% endif %}
        {% endfor %}
        <div class="card" style="text-align: center;">
        </br></br>
        </br>
        </br>
        
        
          <a href="{{ url_for('addshow',id=venue.id) }}" >
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#123456" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
        </a>
      </div>
 
      
      </ul>
    </div>
  </div>
  </t></t>
  <!-- </br></br> -->
  {% endfor %}
  
</div>
</div>

{% endblock %}